</div>
</div>
<footer class="bg-dark text-light pt-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item p-1">
            <a class="nav-link text-light" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link text-warning" href="/submit">Submit a joke!</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link text-light" href="/random">Get a Random Joke</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link text-light" href="/terms" role="button">Terms</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link text-light" href="/contact" role="button">Contact&nbsp;&nbsp;<i class="fas fa-envelope"></i></a>
          </li>

        </ul>
      </div>
      <div class="col-md-6 mb-4 bg-warning pt-2">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item p-1">
            <label for="newsletter-form" class="text-dark font-weight-bold">Sign up for your weekly dose of programming humor!</label>
            <form name="newsletter-form" class="newsletter-form my-2 my-lg-0" action="/signup" method="POST">
              <div class="form-row">
                <div class="col">
                  <input type="text" name="firstName" class="form-control mr-sm-2 m-1 input-lg" placeholder="Your First Name" aria-label="Your First Name" aria-describedby="basic-addon2">
                </div>
                <div class="col">
                  <input type="text" name="lastName" class="form-control mr-sm-2 m-1 input-lg" placeholder="Your Last Name" aria-label="Your Last Name" aria-describedby="basic-addon2">
                </div>
              </div>
              <input type="email" name="email" class="form-control mr-sm-2 m-1 input-lg" placeholder="Your email" aria-label="Your E-mail" aria-describedby="basic-addon2">
              <button class="btn btn-dark my-2 my-sm-1 float-right" type="submit">Sign up</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Programming Jokes
  </div>
</footer>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js" charset="utf-8"></script>
</body>

</html>
