<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Programming Jokes</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->
</head>

<body>
<main>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand p-1" href="/"><h3><i class="fas fa-terminal text-warning"></i>&nbsp;Programming Jokes</h3></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item p-1">
          <a class="nav-link text-light" href="/">All Jokes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item p-1">
          <a class="btn btn-warning" href="/submit">Submit a Joke!</a>
        </li>
        <!-- render different navbar item when user is logged in -->
        <% if(!currentUser){ %>
          <li class="nav-item dropdown p-1">
            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Not Logged In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item p-1" href="/login">Log In</a>
              <a class="dropdown-item p-1" href="/register">Register</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item p-1" href="/terms">Terms</a>
            </div>
            <% } else { %>
        <li class="nav-item dropdown p-1">
        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item p-1" href="/edit">Edit Jokes</a>
          <a class="dropdown-item p-1" href="/favourites">Favourites</a>
          <a class="dropdown-item p-1" href="/settings">Account Settings</a>
          <a class="dropdown-item p-1" href="/terms">Terms</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item p-1" href="/logout">Log Out</a>
        </div>
        <% } %>


      </li>

      <li class="nav-item p-1">
        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for a joke..." aria-label="Search for a joke">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </li>
<!--

        <li class="nav-item p-1">
        <a class="nav-link text-light" href="/logout" role="button">Log Out</a>
        </li> -->
        </ul>
    </div>
  </nav>
  <div class="jumbotron centered">
    <div class="container">
