<%- include('partials/header', {currentUser: currentUser}) %>

<!-- page title -->
<i class="fas fa-user-plus title-icon"></i>
<h1>Register</h1>
<p>Register and be able to submit jokes!</p>
<hr>

<!-- page content -->
<div class="row">
  <div class="col-lg-8 mb-3">
    <div class="card">
      <div class="card-body text-left">

        <!-- alerts for express-validator -->
        <%  if (typeof alert != "undefined") { %>
        <%  alert.forEach((error) => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%  }) %>
        <%  } %>

        <!-- alert if any mongoose errors present (if the user is already registered)-->
        <%  if (typeof message != "undefined") { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%  } %>

        <!-- set the novalidate attribute to an HTML form to unblock express-validator's alerts-->
        <form action="/register" method="POST" novalidate>
          <div class="form-group">
            <label for="username">E-mail</label>
            <input type="email" class="form-control" name="username" placeholder="Your Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Your Password">
            <div class="form-group">
            </div>
            <label for="passwordCheck">Password Confirmation</label>
            <input type="password" class="form-control" name="passwordCheck" placeholder="Your Password Confirmation">
          </div>
          <button type="submit" class="btn btn-lg btn-warning">Register</button>
          <p class="pl-2 d-inline">Already have an account? <a class="link-styled" href="/login">Log in</a></p>
        </form>

      </div>
    </div>
  </div>

  <!--  Google and Facebook authentification -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign up with Google
        </a>
      </div>
      <div class="card-body">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook-f"></i>
          Sign up with Facebook
        </a>
      </div>
    </div>
  </div>

</div>

<%- include('partials/footer') %>
