<%- include('partials/header', {currentUser: currentUser}) %>

  <i class="fas fa-user-cog fa-6x"></i>
  <h1>Account Settings</h1>
  <p>Manage your account settings here!</p>
<hr>
<div class="jumbotron centered">
  <div class="container">


  </div>
</div>
<%- include('partials/footer') %>
