<%- include('partials/header', {currentUser: currentUser}) %>

<!-- page title -->
<i class="fas fa-user-secret title-icon"></i>
<h1>Submit a Joke!</h1>
<p>Know a good programming joke? Share it!</p>
<p>Before submitting a joke, read the <a class="link-styled" href="/terms">Terms</a> first.</p>
<hr>
<!-- page content -->
<div class="jumbotron centered">
  <div class="container">
    <!-- submit form -->
    <form action="/submit" method="POST">
      <div class="form-group">
        <textarea class="joke-text form-control text-center" name="textarea" placeholder="Type here..."></textarea>
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

  </div>
</div>

<%- include('partials/footer') %>
