<%- include('partials/header', {currentUser: currentUser}) %>

<!-- page title -->
<i class="fas fa-check-circle title-icon"></i>
<h1>Success</h1>
<p>Congratulations!</p>

<!-- page content -->
<hr>
<div class="jumbotron centered">
  <div class="container">

  </div>
</div>

<!-- success flash messages for newsletter signup -->
<%  if (typeof greenSignFlash != "undefined") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= greenSignFlash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%  } %>

<a class="btn btn-lg btn-warning" href="/">Back to home page</a>

<%- include('partials/footer') %>
